// body {
//     padding: 0;
//     margin: 0;
// }

// div, p, input, button, form, span, a, ul, li {
// 	box-sizing: border-box;

// }

// h1, h2, h3, h4, h5, h6 { 
// 	margin: 0;
// 	font-weight: 900;
// }
/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {

	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

//================HEADER============================
._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}


// =====================ШАПКА===================
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    
    &__container {
        display: flex;
        min-height: 100px;
        align-items: center;
       
        @media (max-width: 479px) {
            & {
                min-height: 70px;
            }
        }
    } 
    
    &__menu {
        margin: 0px 0px 0px 130px;
       
        @media (max-width: 992px) {
            & {
                margin: 0px 0px 0px 80px;
            }
        }
       
        @media (max-width: 767px) {
            & {
                margin: 0px 0px 0px 40px;
            }
        }
        
        @media (max-width: 479px) {
            & {
                margin: 0px 0px 0px 20px;
            }
        }
    }
    
    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: inherit; //насследование
    }  
}

//===================MENU============
.menu {
    padding: 5px 0;

    &__list {
        display: flex; //в ряд
        flex-wrap: wrap; //позволит ломаться пунктам
    }

    &__item {
        
        &:not(:last-child) {
            margin: 0px 21px 0px 0px;
        }
    }


    &__link {
        color: #737373;
        font-weight: 600;
        line-height: calc(24 / 14 * 100%);
        
        @media (max-width: 479px) {
            & {
                font-size: 18px;
            }
        }    
        &:hover {
            text-decoration: underline;
        }
    }
}
._ibg {
    position: relative;
    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

// =====================================PAGE/MAIN
.page {
    flex: 1 1 auto;
    &__main-block {

        &__container {

        }
    }
}
.main-block {
    position: relative;
    
    &__body {
        padding: 185px 0px 190px 0px;
        position: relative;
        z-index: 2;
        max-width: 400px;

        & > *:not(:last-child) {
            margin: 0px 0px 35px 0px;
        }

        @media (max-width: 992px) {
            & {
                padding: 120px 0px 191px 0px;
            }
        }
        @media (max-width: 479px) {
            & {
                padding: 115px 0px 160px 0px;
            }
        }
    }
    
    &__title {
        font-size: 58px;
        line-height: calc(80 / 58 * 100%);
        font-weight: 800;
        letter-spacing: 0.2px;
        @media (max-width: 479px) {
            & {
                font-size: 42px;
            }
        }

    }
    
    &__text {
        color: #737373;
        font-size: 20px;
        line-height: calcs(30 / 20 * 100%);
        @media (max-width: 479px) {
            & {
                color: #585757;
            }
        }
    }
    
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0;
    }
    &__button {
        border-radius: 37px;
	    display: flex;
	    min-height: 48px;
	    justify-content: center;
	    align-items: center;
	    letter-spacing: 0.2px;
	    font-weight: 700;
	    text-align: center;
	    line-height: 150%;
	    padding: 5px 36px;
        margin: 10px 0;
	    transition: all 0.3s ease 0s;

        @media (max-width: 479px) {
            & {
                flex: 1 1 100%;
            }
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
        
        &_one {
            background: #ff7b47;
	        color: #fff;
               
            &:hover {
                background-color: #fff;
	            color: #ff7b47;
            }
        }
        
        &_two { 
            color: #0d5c63;
	        border: 1px solid #0d5c63;
                &:hover {
                    background-color: #0d5c63;
                    color: #fff;
            }
        }
    }
    
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        @media (max-width:1300px) {
            & img {
                object-position: right;
            }
        }
        @media (max-width:992px) {
            & {
                opacity: 0.5;
            }
        }
    }
}
//========================================MAIN/SECTION======================================
.page__services {
    margin: -110px 0px 0px 0px;
    z-index: 2;
    position: relative;
    
}

.services__container {

}

.services__body {
    display: flex;
    margin: 0px -15px;

    @media (min-width: 670px) {
        & {
            display: flex;
            flex-wrap: wrap;
            margin: 0px -15px;
        }
    }
}
.services__column {
    padding: 0px 15px;
    flex: 0 1 33.333%;
    @media (max-width: 992px) {
        & {
            flex: 0 1 50%;
        }
        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
        &:last-child {
            flex: 1 1 100%;
        }
    }
    @media (min-width: 670px) {
        & {
            padding: 0px 15px;
        }
    }
}
.services__item {
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px;
    @media (max-width: 479px) {
        & {
            padding: 25px;
        }
    }
}
.item-services > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.item-services_green {
    background-color: #0d5c63;
    & .item-services__title {
        color: #fff;
    }
    & .item-services__text {
        color: #fff;
    }
}
.item-services__icon {

}
.item-dervices__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 133%;
}
.item-services__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
    text-align: left;


}
//======================================FOOTER==============================================